body {
  font-family: "Lato", "sans-serif";
  font-size: 16px;
  color: #353535;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Barlow", sans-serif;
}

label.form-label {
  color: #353535;
}

p {
  margin: 0;
}

.w-10 {
  width: 10%;
}

.w-20 {
  width: 20%;
}

.w-30 {
  width: 30%;
}

.w-40 {
  width: 40%;
}

.w-50 {
  width: 50%;
}

.w-60 {
  width: 60%;
}

.w-70 {
  width: 70%;
}

.w-80 {
  width: 80%;
}

.w-90 {
  width: 90%;
}

.flex-10 {
  flex: 0 0 10%;
}
.flex-15 {
  flex: 0 0 15%;
}
.flex-25 {
  flex: 0 0 25%;
}
.flex-35 {
  flex: 0 0 35%;
}
.flex-20 {
  flex: 0 0 20%;
}
.flex-30 {
  flex: 0 0 30%;
}
.flex-40 {
  flex: 0 0 40%;
}
.flex-48 {
  flex: 0 0 48%;
}
.flex-50 {
  flex: 0 0 50%;
}
.flex-60 {
  flex: 0 0 60%;
}
.flex-70 {
  flex: 0 0 70%;
}
.flex-80 {
  flex: 0 0 80%;
}
.flex-90 {
  flex: 0 0 90%;
}
.flex-100 {
  flex: 0 0 100%;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-nowrap {
  flex-wrap: nowrap;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.brand-color,
.brand-bg {
  color: #ff6d3b;
}

.brand-blue,
.brand-bg-blue {
  color: #150d3f;
}

.viewport {
  min-height: 100vh;
  position: relative;
}

.center-viewport {
  display: flex;
  align-items: center;
  justify-content: center;
}

.white-bg {
  color: #fafafa;
}

.background-white {
  background-color: #fff;
}

.required {
  position: relative;
}

.required::after {
  content: "*";
  color: red;
  padding-left: 5px;
}

.form-control:focus {
}

.btn-blue {
  background: #150d3f;
  color: #fff;
  position: relative;
  z-index: 9999;
  border-radius: 5px;
  border: 1px solid #150d3f;
  font-size: 18px;
  padding: 10px;
  line-height: 1.5;
  font-weight: 400;
  border-radius: 50px;
  text-transform: capitalize;
  transition: all 0.5s ease;
}

.form-control.form-field,
.form-select.form-field {
  border-width: 2px;
  border-style: solid;
  border-color: #cccccc;
  /* border: 2px solid #cccccc; */
  padding: 10px 15px;
  border-radius: 50px;
}

.form-control.form-field:focus,
.form-select.form-field:focus {
  border-color: #adadad;
  box-shadow: unset;
}

.form-control.form-field::placeholder {
  color: #cccccc;
  font-size: 16px;
}

.form-heading {
  color: #353535;
  font-weight: 400;
  font-size: 30px;
}

.forgot-remember {
  display: flex;
  justify-content: space-between;
}

.sign-up {
}

.form-check-input[type="checkbox"]:checked {
  background-image: none;
  background-color: #ff6d3b;
}

.form-check-input[type="checkbox"]:checked:focus {
  background-color: #ff6d3b;
}

.form-check-input:checked {
  border-color: #ff6d3b;
}

.no-border.transparent-border {
  border-color: transparent;
  /* background-color: transparent; */
}

.no-border.transparent-border:focus,
.no-border.transparent-border:focus-visible {
  border-color: transparent;
  outline: 0;
  box-shadow: unset;
}

.two-field-second,
.two-field-first {
  position: relative;
}

/* .two-field-second >*:first-child, .two-field-first >*:first-child{
  position: relative;
}
.two-field-second>*:last-child , .two-field-first >*:last-child{
  width: 40%;
  position: absolute;
  top:0;
} */

/* .absolute-right{
  right:0;
}
.absolute-left{
  left:0;
} */
.flex-65 {
  flex: 0 0 65%;
}

.flex-35 {
  flex: 0 0 35%;
}

.false-disabled:not(option) {
  /* background-color: #ff6d3b;
  color: #fff; */
}

.border-false-control {
  border: 2px solid #ccc;
  border-radius: 50px;
}

.select2-container--default .select2-selection--single.select-selection-false {
  background: transparent;
  border: 0;
  min-height: 50px;
  display: flex;
  align-items: center;
}

.select2-container--default
  .select2-selection--single.select-selection-false
  .select2-selection__arrow {
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}

.select2-dropdown {
  border: 0;
  border: 2px solid #ccc;
}

.select2-container--open .select2-dropdown--below,
.select2-container--open .select2-dropdown--above {
  border: 2px solid #ccc;
  z-index: 9999;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 2px solid #ccc;
  border-radius: 50px;
  padding: 5px 15px;
}

.select2-container--default
  .select2-search--dropdown
  .select2-search__field:focus {
  outline: 0;
}

.image-preview > .preview {
  width: 150px;
  height: 150px;
  border: 1px solid #150d3f;
  border-radius: 50%;
}

.dashboard-row {
  display: flex;
  column-gap: 20px;
  margin: 40px 0;
}

.dashboard-box {
  flex-basis: 33.33%;
  display: flex;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 10px;
  padding: 3em;
  background-color: #fafafa;
}
.dashboard-icon {
  column-gap: 10px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.dashboard-icon > i {
  font-size: 25px;
}
.success > .success-message,
.failure > .failure-message {
  width: 40%;
  margin: auto;
  font-size: 16px;
  font-family: "lato";
}
.success > .success-message {
}
.failure > .failure-message {
}

.sidebar-menu {
  min-height: 100vh;
  background-color: #0f172a;
  padding: 2em;
  position: sticky;
  display: block;
  top: 0;
  /* border-radius:; */
}
.aside-menu > li {
  padding: 10px 0;
  display: block;
  width: 100%;
  position: relative;
}
.aside-menu > li:not(:last-child),
.submenu-item-list > .submenu-item:not(:last-child) {
  border-bottom: 1px solid #787878;
}
.aside-menu > li a {
  color: #fefefe;
  font-size: 17px;
}
.submenu-item {
  padding: 10px 0 10px 15px;
  /* border-bottom: 1px solid #eee; */
}
.submenu-item-list > .submenu-item > a {
  font-size: 16px;
}
.aside-main-menu i {
  color: #fff;
  padding-right: 10px;
}
.user-name {
  color: #fafafa;
}
.user-email {
  color: #ccc;
}
.user-role {
  font-size: 14px;
  font-style: italic;
  color: #fafafa;
}
.online-status {
  border: 5px solid #26b426;
}
.main-body {
  background-color: #fafafa;
  margin: 30px 20px;
  border-radius: 10px;
}
.bg-light-white {
  background-color: #f1f5f9;
}
.welcome-back {
  padding: 1em;
}
.footer-wrap {
  /* position: fixed;
  bottom: 0;
  width: 100%;
  display: block; */
}
.main-body-wrapper {
  padding: 2em 1em;
}
.open_close {
  display: inline-block;
  margin: auto;
  /* width: 50%; */
  /* background: red; */
  position: absolute;
  right: 0;
}

.open_close > i {
  padding: 0;
}
.user-image-img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}
.w-120 {
  width: 120px;
  height: 120px;
  object-fit: contain;
  border: 1px solid #eee;
}
.users-wrap {
  display: flex;
  aspect-ratio: 16/8;
  flex: 0 0 30%;
  padding: 2em;
  box-shadow: 2px 1px 8px 4px #ebebeb;
  border-radius: 10px;
}

.gap-20 {
  column-gap: 20px;
  row-gap: 20px;
}
.gap-10 {
  column-gap: 10px;
  row-gap: 10px;
}
.user-icon > i,
.user-count > p {
  font-size: 35px;
}

.table {
  vertical-align: middle;
}
